.air-conditions {
    // background-color: #232C3D;
    height: 22vh;
    min-height: 10rem;
    min-width: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 5vh 2.5vw 0vh;
    border-radius: 15px;

    .air-conditions-title {
        height: 15%;
        align-content: center;

        h4 {
            // color: #596476;
            font-weight: 700; // Bold
        }
    }

    .air-conditions-details {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem 2rem;
        padding: 0 2rem;
        align-items: center;
        height: 75%;

        .real-feel {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .feel-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        .chance-of-rain {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .rain-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        .humidity {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .humidity-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        .wind {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .wind-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        .pressure {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .pressure-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        .uv-index {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .uv-icon {
                color: #8090a9;
                align-self: center;
                height: 30px;
                width: auto;
            }
        }

        h3 {
            color: #F2F4FC;
            font-weight: 500; // Medium
        }

        h5 {
            color: #8090a9;
            font-weight: 500; // Medium
        }

    }
}