.now {
    height: 21vh;
    min-height: 9rem;
    min-width: 36rem;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    margin: 5vh 2.5vw 0vh;

    .city-conditions {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.25rem;

        .city-region {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.25rem;

            h1 {
                color: #F2F4FC;
                font-weight: 500; // Medium
                font-size: 34px;
            }

            h3 {
                color: #8090a9;
                font-weight: 400; // Regular (normal)
                font-size: 17px;
            }
        }

        .city-temperature {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;

            h1 {
                color: #F2F4FC;
                font-weight: 500; // Medium
                font-size: 50px;
            }
        }
    }

    .now-details {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .city-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 135px;
            }
        }

        h5 {
            // color: #8090a9;
            font-weight: 400; // Regular (normal)
        }
    }
}