.now {
    height: 21vh;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    margin: 5vh 2.5vw 0vh;

    .city-conditions {
        width: 76.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.25rem;

        .city-region {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.25rem;

            h2 {
                font-size: 35px;
                color: #F2F4FC;
            }

            h3 {
                font-size: 15px;
                color: #8090a9;
            }
        }

        .city-temperature {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 45px;
            color: #F2F4FC;
        }
    }

    .now-details {
        width: 23.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .city-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 135px;
            }
        }

        h3 {
            font-size: 15px;
            color: #8090a9;
        }
    }
}