.today-forecast {
    background-color: #232C3D;
    height: 22vh;
    min-height: 10rem;
    min-width: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 5vh 2.5vw 0vh;
    border-radius: 15px;

    .today-forecast-title {
        height: 15%;
        align-content: center;

        h4 {
            color: #596476;
            font-weight: 700; // Bold
        }
    }

    .today-forecast-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 75%;
        padding: 0 2rem;

        .today-forecast-children {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                width: 60px;
            }

            h4 {
                color: #F2F4FC;
                font-weight: 500; // Medium
            }

            h5 {
                color: #8090a9;
                font-weight: 500; // Medium
            }
        }
    }
}