.today-forecast {
    background-color: #232C3D;
    height: 22vh;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 5vh 2.5vw 0vh;
    border-radius: 15px;

    .today-forecast-title {
        color: #596476;
        font-size: 10px;
        height: 15%;
        align-content: center;
    }

    .today-forecast-details {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 80%;

        .today-forecast-children {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                width: 60px;
            }

            h3 {
                color: #8090a9;
                font-size: 15px;
            }

            h4 {
                font-size: 15px;
                color: #F2F4FC;
            }
        }
    }
}