@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.checkbox {
    opacity: 0;
    position: absolute;
    background-color: #3d7dff;

}

.checkbox-label {
    background-color: #111;
    width: 70px;
    height: 38px;
    border-radius: 19px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:where(.dark, .dark *) {
        background-color: #fff;
    }

}

.fa-sun {
    color: #ffae00;
    font-size: 18px;
}

.fa-moon {
    color: #0066ff;
    font-size: 18px;
}

.checkbox-label .ball {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.light {
    transform: translateX(32px);
}

.dark {
    transform: translateX(0px);
}