.this-week {
    // background-color: #232C3D;
    width: 32.5vw;
    height: 85vh;
    min-height: 38rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 1rem;
    margin: 5vh 2.5vw 0vh 0vw;
    border-radius: 15px;

    .this-week-title {
        h4 {
            color: #596476;
            font-weight: 700; // Bold
        }
    }

    .this-week-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 2rem 0;

        .week-forecast-children {
            display: grid;
            // grid-template-columns: repeat(2, 2fr 1fr);
            grid-template-columns: 2fr 2fr 4fr 1fr;
            align-items: center;
            justify-items: center;

            .week-names {
                justify-self: start;
            }

            .week-temps {
                justify-self: end;
            }

            img {
                width: 50px;
            }

            h5 {
                color: #F2F4FC;
                font-weight: 500; // Medium  
                font-size: 14px;
            }

            h6 {
                color: #8090a9;
                font-weight: 400; // Regular (normal)
                font-size: 14px;
            }
        }
    }
}